/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*
Theme Name: Simple Parallax Website
Description: Simple Parallax Scrolling Effect
Author: Samuel Dalusung
*/


/*= GENERAL STYLING
--------------------------------------------------------*/
/*@font-face {
	font-family:'Fairview';
	src:url(Fairview_Regular.otf);
}

@font-face {
	font-fam
	ily:'Fairview Small Caps';
	src:url(Fairview_SmallCaps.otf);
}*/

body {
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Economica', sans-serif;	
	/*background-color: #000D32;*/
}

h1 {
	font-family: 'Economica', sans-serif;
	font-weight:400;
	font-size:140px;
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
}

h2 {
	font-family: 'Economica', sans-serif;
	font-weight:10;
	font-size:2px;
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
}

h3 {
	font-family: 'Economica', sans-serif;
	font-weight:400;
	font-size:16px;
	text-align:center;
	z-index:1;
	position:relative;
	margin:5px 0;
	padding:0;
	color: #66ccff;
}

h4{
	font-size: 24px;
	color: #66ccff;
	margin: 10px 0px;
}

p{
	font-size: 16px;
	color: #FFF;
}

header{
	z-index: 1000;
}
footer{
	background: url(../img/FOOTER_PATTERN.png) repeat-x;
	height: 214px;
}
.anterior{
	background: url(../img/Flecha_arriba2.png) no-repeat;
	width:70px;
	height:22px;
	margin: 0 auto;
	position: relative;
	top:-70px;
}
.siguiente{
	background: url(../img/flecha_abajo2.png) no-repeat;
	width:70px;
	height:22px;
	margin: 0 auto;
	position: relative;
}
.siguiente_blue{
	background: url(../img/Flecha_abajo.png) no-repeat;
	width:70px;
	height:22px;
	margin: 0 auto;
	position: relative;
	top:110px;
}
.footer-list{
	color:red;
	list-style-type:disc;
	padding-top:50px;	
}

.footer-list a{
	text-decoration: none;
	font-size:24px;
	margin: 5px;
}

.footer-list span:hover{
	color: #69AFDD;

}
.footer-list span{
	color:white;
}

#left{
	float:left;
	width:50%;
	margin: 0 auto;
}

#right{
	float:right;
	width:50%;
}

.leftPanel{
	height:100%;
	width:40%;
	float:left;
}

.rightPanel{
	height:100%;
	width:40%;
	float:right;
}
.smallcaps{
	font-family: 'Economica', sans-serif;
}

#copyright{
	color:white;
	font-size:22px;
	margin-bottom: 16px;
	float:right;
}

#copyright a {
	text-decoration:none;
	color:#fff;
}

.center {
margin:0 auto;
}

.content {
	font-family: 'Economica', sans-serif;
	color:white;
	width:1010px;
	height:100%;
	/*min-width: 1010px;*/
	margin:0 auto;
}

.clear {
	clear:both;
}

#header {
	width:100%;
	background:url(../img/header-bg.png);
	height:80px;
	position:fixed;
}

#nav {
	width:800px;
	float:right;
	margin-top:20px;
	min-width: 800px;
}

#logo{
	text-decoration:none;
	float:left;
	font-size:30px;
	margin-top:11px;
	width:200px;
	height: 90px;
	background: url("../img/logo.png");
}

#nav ul {
	display:block;
	list-style:none;
	margin:0 auto;
}

#nav li {
	margin-top:9px;
	float:left;
	padding-left:21px;
}

#nav li a {
	color:#fff;
	font-size:26px;
	text-decoration:none;
	font-family: 'Economica', sans-serif;
}

#nav li a.active {
	color:#fff;
}

#nav li a:hover {
	opacity:1;
	color: #69AFDD;
}

.divider {
	background-color: red;
	height: 29px;
	width: 2px;
}

.quotes {
	font-family: 'Economica', sans-serif;
	font-weight:400;
	font-size:30px;
	text-align:left;
	margin:50px auto;
}

.quotes_container {
	width:800px;
	margin:0 auto;
}
.quotes_container .text{
	float:right;
	width:50%;
}
#mar_left{
	width:100px
}
#mar_right{
	width:170px;
}

#text_left{
	text-align: left;
}

#slide1 {
	background:url(../img/Back_banner.jpg) no-repeat fixed;
	color:#fff;
	height:600px;
	background-size:cover;
	margin-top:0;
	/*padding:80px 0 260px;*/
	padding-top:80px;
}

#slide2 {
	background:url(../img/Back_banner.jpg) no-repeat fixed;
	color:#fff;
	height:600px;
	background-size:cover;
	padding:170px 0 0;
	
}



#slide3 {
	background:url(../img/fiesta.jpg) no-repeat fixed;
	/*height:200px;*/
	color:#fff;
	/*background-size:cover;*/
	background-size: cover;
	margin:0 auto;
	padding:250px 0;
	font-family: 'Economica', sans-serif;
	color:white;
	font-size: 44px;

}

#slide4 {
	background:url(../img/BANNER_5_1.jpg) no-repeat fixed;
	color:#fff;
	height:600px;
	background-size:cover;
	/*background-size: 500px 500px; NO*/
	padding:170px 0 0;
}
.boton_receta{
	background:url(../img/btn.png) no-repeat;
	background-size:200px 60px;
	height:60px;
	width:200px;
	border:none;
	color:white;
	padding-top:5px;
	font-size:1em;
}

#cocteles{
	position: relative;
	/*left:7%;
	top:60%;*/
	width: 250px;
	height: 120px;
	/*overflow: hidden;*/
	float:right;
	left: -10%;
}
#platillos{
	position: relative;
	/*left: 70%;
	top: -50%;*/
	width: 250px;
	height: 65px;
	/**overflow: hidden;*/
	float:right;
	left: -10%;
}
#bebidas{
	position: relative;
	/*left: 33%;
	top: -75%;*/
	width: 250px;
	height: 65px;
	/*overflow: hidden;*/
	float:right;
	left: -10%;
}

.menu_recetas{
	background-color: #0054A5;
	width:185px;
	display:none;
}


.menu_recetas .item{
	border-bottom: 1px solid #083E7C;
	font-size:24px;
	padding:5px;
	cursor: pointer;
	text-align: center;
}
.promo_ver_mas{
	width: 38%;
	float: right;
}
.promo_texto{
	width:60%;
	position: relative;
	top:-100px;
}
.promo_texto h1{
	font-size:85px;
	font-weight: bold;
	margin-top:210px;
}
.promo_texto h2{
	font-size:45px;
	font-weight: bold;
	margin-top:40px;
}
.promo_texto h3{
	font-size:25px;
	font-weight: bold;
	margin-top:30px;
	color:black;
}
#ver_mas{
	background-color: #EE3E27;
	color:white;
	border:none;
	font-size:40px;
	padding:6px;
	padding-left:25px;
	padding-right:25px;
	position: relative;
left: 83px;
}


#facebook{
	height:30px;
	width:30px;
	background: url('../img/fb_1.png') no-repeat;
	float:right;
}

#camaron_plus{
	position: relative;
	bottom: 289px;
	left: 57px;
	width: 24px;
	height: 25px;
	background-color: transparent;
	border: none;
}

#original_plus{
	position: relative;
	bottom: 311px;
	left: 97px;
	width: 27px;
	height: 25px;
	background-color: transparent;
	border: none;
}

#ceviche_plus{
	position: relative;
	bottom: 311px;
	left: 192px;
	width: 14px;
	height: 25px;
	background-color: transparent;
	border: none;
}

#vuelve_plus{
	position: relative;
	bottom: 277px;
	left: 221px;
	width: 38px;
	height: 25px;
	background-color: transparent;
	border: none;
}

label.custom-select {
    position: relative;
    display: inline-block;
    width: 80%;

}

 /*   .custom-select select {
        display: inline-block;
		padding: 4px 3px 3px 5px;
		margin-left: 30px;
		font: inherit;
		outline: none;
		line-height: 1.2;
		background: #FFF;
		color: #000D32;
		border: 0;
		width: 83%;
    }
*/



    /* Select arrow styling */
 /*   .custom-select:after {
        content: "-";
        color:white;
        position: absolute;
        top: 0;
        right: 0%;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
		background: #FFF;
		background: url(../img/flechita.png) no-repeat;
		background-size: 19px;
		padding-top: -30px;
		margin-top: 5px;
    }*/
    
    .no-pointer-events .custom-select:after {
        content: none;
    }

#overlay_activacion{
	float: left; border: 1px solid #000; background-color: #031D4E; height: 70%; width: 70%; padding: 25px;;
}
#leftpanel{
	float: left; margin-top: 3%; width: 240px;
}
#rightpanel{
	float: right; width: 65%;  margin-top: 15px;
}
#rightpanel img{
	width: 92%;
}


#img_sld1{
	right:600px; top:270px; width:500px;
}
#txt_sld1{
	top:50%; left: -30px; font-size: 110px;
}
#txt2_sld1{
	top:130px; left:40px; font-size: 134px;
}

#ioverlay_recetas{
	height: 800px;
	background: url('..img/TOOLTIP_PATTERN2.png') repeat-x;
	position: fixed;
	top: 0px;
	margin: 10% 0% 0% -40%;
	z-index: 2;
	left: 50%;
	display:none
}

.vertical_overlay{
	width:70%;
	background: url(../img/TOOLTIP_PATTERN.png) repeat;
	background-size: 1% 100%;
	margin: 0 auto;
	text-align: center;
	padding:20px;
}
.vertical_overlay h3{
	font-size:100px;
}
.vertical_overlay h4{
	font-size:70px;
}
.vertical_overlay p{
	font-size:60px;
}
.vertical_overlay #img_receta{
	padding-top:25px;
	padding-bottom:25px;
}

/*iPhone*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
	#slide1{
		padding-top:158px;
	}
	#slide2{
		background-size: cover;
	}
	#slide3{
		background:url(../img/movil_fiesta.png) no-repeat fixed;
		background-size: 100% 100%;
	}
	#slide1, #slide2, #slide3{
		width:100%;
	}
	.content {
		font-family: 'Economica', sans-serif;
		width:100%;
	}

	.boton_receta{
		font-size:2.1em;
		background-size:100% 100%;
		height:150px;
		width:430px;
		padding:5px;
	}
	#cocteles{
		float: none;
		top: 30px;
		margin:0 auto;
	}
	#bebidas{
		float: left;
		top: 250px;
		left: 40px;
	}
	#platillos{
		float: right;
		top:250px;
		left: -190px;
	}

	.menu_recetas{
		background-color: #0054A5;
		width:400px;
		display:none;
	}
	
	.menu_recetas .item{
		font-size:1.3em;
		z-index:10000;
		background-color: #0054A5;
		padding:20px;
	}

	.nuestros_productos{
		margin: 0 auto;
		width:100%;
	}

	#img_nuestros{
		width:800px;
		margin: 0 auto;
		position: relative;
		top:-30px;

	}

	.quotes_container .text{
		font-size:120px;
		width:100%;
	}

	#camaron_plus{
		top:-770px;
		left:100px;
		height:105px;
		width:105px;
	}
	#original_plus{
		top:-740px;
		left:510px;
		height:105px;
		width:105px;
	}
	#vuelve_plus{
		top:-820px;
		left:30px;
		height:105px;
		width:105px;
	}
	.siguiente, .anterior{
		width:200px;
		height: 60px;
		background-size: 100%;
	}

	#sig_s1, #sig_s2, #sig_s3, #ant_s2, #ant_s3{
		position:relative;
		top: 0px;
	}

	#header {
		width:100%;
		height:160px;
	}

	#nav {
		width:65%;
		float:right;
		margin-top:30px;
		min-width: 0px;
	}

	#logo{
		font-size:30px;
		margin-top:11px;
		width:33%;
		height: 190px;
		background-size: 100% 104%;
	}

	#nav li a {
		font-size:66px;
		margin-left:0px;
		margin-right:0px;
	}

	.divider {
		height: 55px;
		width: 2px;
	}

	#facebook{
		height:30px;
		width:30px;
		background: url('../img/fb_1.png') no-repeat;
		float:right;
		display:none;
	}

	#mar_left{
		width:0px;
	}

	#mar_right{
		width:0px;
	}
	footer{
		background: url(../img/movil_footer.png) repeat;
		height: 314px;
	}
	.footer-list a{
		font-size:64px;
		margin: 15px;
	}
	#copyright{
		font-size:36px;
		position:relative;
		top:-230px;
	}
	#txt_sld1{ /*que comience*/
		top:30px;
		font-size: 180px;
		width:100%;
		margin: 0 auto;
		left:0px;
	}
	#txt2_sld1{ /*que comience*/
		top:200px;
		font-size: 160px;
		width:100%;
		margin: 0 auto;
		left:0px;
	}
	#img_sld1{
		right:0px;
		top:450px;
		width:1000px;
	}
	#overlay_recetas{
		height: 400px;
		/*background: url('..img/TOOLTIP_PATTERN2.png') repeat-x;*/
		position: fixed;
		top: 0px;
		margin: 10% 0% 0% -40%;
		z-index: 2;
		left: 50%;
		display:none
	}

}

    .styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(../img/flechita.png) no-repeat right #ddd;
   border: 1px solid #fff;
   margin-left: 27px;
   }
